extends layout

block content
  h1 Элементы заказа #{orderId}
  table(border=1)
    tr
      th ID
      th Название
      th Сумма
    each item in items
      tr
        td #{item.id}
        td #{item.label}
        td #{item.amount}

  if user.id_role == 3
    h2 Добавить элемент
    form(action='/order_items/add/' + orderId, method='post')
      input(type='text', name='label', placeholder='Название')
      input(type='number', step='0.01', name='amount', placeholder='Сумма')
      button(type='submit') Добавить
